################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/code/v16
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vscode/extensions.json
/.vscode/launch.json
/.vscode/settings.json
/.vscode/tasks.json
/AFEDive.Functions/.vs/AFEDive.Functions/v16
/AFEDive.Functions/AFEDive.Common/obj
/AFEDive.Functions/AFEDive.DB/obj/Debug
/AFEDive.Functions/AFEDive.Functions/.gitignore
/AFEDive.Functions/AFEDive.Repository.Dapper/obj
/AFEDive.Functions/AFEDive.Database/obj/Debug
/AFEDive.Functions/AFEDive.Database/AFEDive.Database.dbmdl
/AFEDive.Functions/AFEDive.Database/AFEDive.Database.jfm
/AFEDive.Functions/.vs/AFEDive.Functions/DesignTimeBuild
/AFEDive.Functions/AFEDive.DB/AFEDive.DB.jfm
/AFEDive.Functions/AFEDIVE.DataAccess/bin/Debug/netcoreapp2.2
/AFEDive.Functions/AFEDive.Common/bin/Debug/netcoreapp2.2
/AFEDive.Functions/AFEDive.DB/bin/Debug
/AFEDive.Functions/AFEDIVE.DataAccess/obj
/.vs/AFE/v15
/AFEDive.Functions/.vs/AFEDive.Functions/config
/AFEDive.Functions/.vs/AFEDive.Functions/v15/Server/sqlite3
/AFEDive.Functions/.vs/AFEDive.Functions/v15/.suo
/AFEDive.Functions/AFEDive.Common/bin/Release/netcoreapp2.2
/AFEDive.Functions/AFEDIVE.DataAccess/bin/Release/netcoreapp2.2
/AFEDive.Functions/AFEDIVE.DataAccess/Properties/PublishProfiles/FolderProfile.pubxml
/AFEDive.Functions/AFEDIVE.DataAccess/Properties/PublishProfiles/FolderProfile.pubxml.user
/AFEDive.Functions/AFEDIVE.DataAccess/AFEDIVE.DataAccess.csproj.user
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.1
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/bin
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/GetCostVsDepth/function.json
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/GetTimeVsDepth/function.json
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/AFEDive.Functions.deps.json
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/host.json
/AFEDive.Functions/AFEDive.Functions/obj/Debug
/AFEDive.Functions/AFEDive.Functions/obj/Release/netcoreapp2.1
/AFEDive.Functions/AFEDive.Functions/obj
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/GetWells/function.json
/AFEDive.Functions/AFEDive.DB/AFEDive.DB.dbmdl
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/GetListAssociations/function.json
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/SaveEvent/function.json
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/DeleteEventById/function.json
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/GetEvent/function.json
/AFEDive.Functions/.vs/config/applicationhost.config
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/DeleteAttachmentById/function.json
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/DeleteEventById/function.json
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/GetEvent/function.json
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/GetListAssociations/function.json
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/GetEventAndVariancesForWell/function.json
AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/GetEventsWithFilters/function.json
AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/GetUserPrevSavedFilters/function.json
AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/SaveUserPrevSavedFilters/function.json
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2/GetFunctionAndPhases/function.json
/AFEDive.API/obj
/AFEDive.Functions/AFEDive.Functions/bin/Debug/netcoreapp2.2
/AFEDive.API/bin/Debug/netcoreapp2.2
/AFEDive.API/Properties/launchSettings.json
/AFEDive.API/bin/Release/netcoreapp2.2
/AFEDive.API/Properties/PublishProfiles
/AFEDive.WebApi/obj
/AFEDive.WebApi/bin/Debug/netcoreapp2.2
/AFEDive.Functions/AFEDive.Functions/bin/Release/netcoreapp2.2/bin
/AFEDive.Functions/AFEDive.Functions/bin/Release/netcoreapp2.2
